@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 238, 87);
    font-family: 'Fira Sans';
}

.main {
    max-width: 760px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    padding: 30px;
}
.title {
    
    text-align: center;
    display: flex;
    justify-content: center;
    .main-title{
        border-bottom: 3px solid black;
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}
.list {
    word-spacing: normal;
}
.input {
    margin: 50px 0;
    #create{
        font-family: inherit;
        font-size: inherit;
        outline: none;
        border: none;
        width: 15%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.192);
        transition: width .3s ease-in;
       
    }
    #create:focus{
        width: 100%;
    }
}




.item-list {
    margin: 15px 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    text-align: left;
    word-break: break-word;
}



.min {
    font-size: 12px;
}